* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    max-width: 70%;
    margin: 0 auto;
}

header {
    text-align: center;
}

h1 {
    font-weight: 900;
    color: #e53170;
    margin: 40px 0;
}

h1 ~ h4 {
    font-weight: 400;
    margin-bottom: 20px;
}

main {
    padding: 20px;
}

section {
    height: 100px;
    width: 300px;
    background-color: #0f0e17;
    color: white;
    float: left;
    margin: 20px;
    box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.42);
-webkit-box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.42);
-moz-box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.42);
}

section > img {
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 10px;
}

section > h3 {
    padding-top: 10px;
    margin-bottom: 10px;
}

section > p {
    margin: 10px 0;
}

section > a {
    text-decoration: none;
    color: #14c8f2;
}